modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35577
externalPort = 3003

[[ports]]
localPort = 38787
externalPort = 4200

[[ports]]
localPort = 44921
externalPort = 3002

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 32209712
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
