@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 270 100% 45%;
  --primary-foreground: 0 0% 98%;
}

.dark {
  --primary: 270 100% 65%;
  --primary-foreground: 240 5.9% 10%;
}